html {
    font-size: 100%;
    min-height: 100%;
}
body{
    text-align: center;
}
a {
    text-decoration: none;
}
.align-center {
    text-align: center;
}

h1{
    text-align: center;
    color: white;
}
body {

    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./images/ダウンロード.jpg);
}

.about {
    max-width: 736px;
    padding: 0 1.5rem;
    margin: 3rem auto 4rem;
}

.imagess {
    width: 100%;
    text-align: center;
}
.image-box {
    width: 350px;
    height: 360px;
    /* アニメーション時に被らない余白を取る*/
    margin: 20px;
    padding: 2px;
    border: solid 1px #d3d3d3;
    border-radius: 2px;
    box-shadow: 2px 3px 3px #555;
    position: relative;
    display: inline-block;
    background-color: #ffffffe6;
  }
  
.image-box:before{
    background-image: -webkit-gradient(radial, 30% 30%, 0, 30% 30%, 10, from(#ffe5ed), to(#e50044));	/* マップピンの色 */
	border-radius: 50%;
	box-shadow: .5px .5px 4px 1px rgba(128, 128, 128, 0.489);
	content: '';
	display: block;
	position: absolute;
	top: 5px;
	left: 50%;
	width: 15px;
	height: 15px;
	z-index: 0;
}

.image-box:after{
	background-image: linear-gradient(-80deg, 
transparent 47%, 
#333333 20%, 
#333333 70%, 
transparent 52%, 
transparent);
	content: '';
	position: absolute;
	top: 15px;
	left: 50%;
	width: 10px;
	height: 13px;
	z-index: -1;
}

  .item {
    position: absolute;
    top: 10%;
    width: 98%;
    height: 89%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1px;
    /* 縦横中央寄せ */
    display: flex;
  }
  
  img {
    /* 縦長・横長の画像両方に対応 */
    width: auto; 
    height: auto;
    min-width: 100%;
    max-height: 100%;
    /* アスペクト比維持 */
    object-fit: cover;
  }


/*.select1,
.select2,
.select5{
    display: inline-block;
    font-size: 1.3rem;
    background-color: rgba(0, 255, 255, 0.475);
    color: #fff;
    border-radius: 15px;
    padding: .40rem 1.0rem;
    transition: .5s;
    margin: 7px;
    margin-left: 0.1rem;
    margin-right: 1rem;
}*/
.select4{
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    background-color: rgba(143, 212, 255, 0.977);
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 15px;
    padding: 1em 0.5em;
    transition: .5s;
    margin-bottom: 2rem;
}

.select4 > span {
    border-bottom: solid 2px #fff;
    border-top: solid 2px #fff;
}

.select4:hover span {
    padding: 0.1em 0;
}

.select1,
.select2,
.select5{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  margin: 7px;
  margin-left: 0.1rem;
  margin-right: 1rem;
}
